# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.URPShader.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\GitHub\Unity\URPShader\URPShader\.idea\.idea.URPShader\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
